<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557552000377-c8mdi26e48qsoe3t7c8kh5gr5bv7pcd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557552000377-c8mdi26e48qsoe3t7c8kh5gr5bv7pcd1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>557552000377-6rmlts1q6r7vpuqj0d7hps5o6m0amu35.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQYj-eDIXbQNcH1QlJnd1EC3jAKr_m4SI</string>
	<key>GCM_SENDER_ID</key>
	<string>557552000377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eurekaLearn</string>
	<key>PROJECT_ID</key>
	<string>eurekalearn-d63d4</string>
	<key>STORAGE_BUCKET</key>
	<string>eurekalearn-d63d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557552000377:ios:02f9150f0a7b5f333323a8</string>
</dict>
</plist>